<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration status="OFF">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT" >
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
    </Console>

    <File name="File" fileName="pegasus.log" append="true" createOnDemand="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
    </File>

    <RollingFile name="RollingFile" fileName="rolling_log/pegasus.log"
      filePattern="${sys:user.home}/logs/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log"
      immediateFlush="true" createOnDemand="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </appenders>

  <loggers>
    <Root level="DEBUG">
      <AppenderRef ref="RollingFile"/>
    </Root>
    <Logger name="com.xiaomi.infra.pegasus" level="INFO"></Logger>
  </loggers>
</configuration>